# DA2 Knowledge Check 1 - May 2023

## Your Instructions:
### To complete the first knowledge check, do the following:

1. Create a GitHub repo called "data_1_checks". You will upload ALL knowledge checks to this repo in the future.
2. Send that link to your mentor so they can check it when you finish the assignment.
3. Make a .py (or .ipynb) file that contains the following (your choice of editor does not matter!) and do the following:
    - Pull in data from an API. Here's a list of public APIs that don't require Auth keys, though if you have another API you want to use feel free: https://apipheny.io/free-api/
    - Find and print TWO descriptive statistics about your data. This can be absolutely anything, from the mean() or sum() of a column to the number of different categories, to the number of null values in a column. We just want to see two pieces of information.
    - Write a query in Pandas to select a particular set of your data. You can use a mask or with .query(), but we want you to pull out a subset based on any parameter you like. This could be "show me every row where HTTPS=False" or anything else.
    - Select and print the SECOND AND THIRD columns of your data frame.
    - Select and print the FIRST 4 rows of you data frame.
4. Commit your changes.
5. Push your changes to your repo and notify your mentor!

In [1]:
# First import required libraries.

import requests
import pandas as pd

### Pull Data From API.

In [2]:
# Pull in data from an API.
url = "http://universities.hipolabs.com/search?country=United+States"
response = requests.get(url)
data = response.json()
df = pd.DataFrame(data)

# Print the first few rows of the DataFrame
print (df.head())

         country alpha_two_code                                   name  \
0  United States             US                    Marywood University
1  United States             US                  Lindenwood University
2  United States             US                    Sullivan University
3  United States             US  Florida State College at Jacksonville
4  United States             US                      Xavier University

  state-province           domains                     web_pages
0           None    [marywood.edu]     [http://www.marywood.edu]
1           None  [lindenwood.edu]  [http://www.lindenwood.edu/]
2           None    [sullivan.edu]       [https://sullivan.edu/]
3           None        [fscj.edu]       [https://www.fscj.edu/]
4           None      [xavier.edu]     [https://www.xavier.edu/]

### Find and print TWO descriptive statistics about your data. This can be absolutely anything, from the mean() or sum() of a column to the number of different categories, to the number of null values in a column. We just want to see two pieces of information.

In [3]:
# rows and columns in dataframe

df.shape

(4566, 6)

In [4]:
# check dataframe for null value. state-province has 4442 null values.

df.isnull().sum()

country              0
alpha_two_code       0
name                 0
state-province    4442
domains              0
web_pages            0
dtype: int64

### Write a query in Pandas to select a particular set of your data. You can use a mask or with .query(), but we want you to pull out a subset based on any parameter you like. This could be "show me every row where HTTPS=False" or anything else.

In [5]:
data_check = df[(df['country'] == 'United States') & (df['state-province'].notnull())]
data_check

,country,alpha_two_code,name,state-province,domains,web_pages
14,United States,US,University of Pittsburgh Medical Center,Pennsylvania,"[upmc.edu, upmc.com]",[https://www.upmc.com/]
99,United States,US,College of Southern Nevada,NV,[csn.edu],[https://www.csn.edu/]
197,United States,US,Bloomsburg University of Pennsylvania,Pennsylvania,[bloomu.edu],[http://www.bloomu.edu/]
243,United States,US,California University of Pennsylvania,Pennsylvania,[cup.edu],[http://www.cup.edu/]
283,United States,US,Clarion University of Pennsylvania,Pennsylvania,[clarion.edu],[http://www.clarion.edu/]
...,...,...,...,...,...,...
4494,United States,US,Bellevue College,Washington,[bellevuecollege.edu],[https://bellevuecollege.edu]
4495,United States,US,CUNY Lehman College,"New York, NY",[lehman.cuny.edu],[https://www.lehman.cuny.edu/]
4496,United States,US,CUNY John Jay College of Criminal Justice,"New York, NY",[jjay.cuny.edu],[https://www.jjay.cuny.edu/]
4497,United States,US,CUNY Hunter College,"New York, NY",[hunter.cuny.edu],[https://hunter.cuny.edu/]
4498,United States,US,CUNY York College,"New York, NY",[york.cuny.edu],[https://www.york.cuny.edu/]

### Select and print the SECOND AND THIRD columns of your data frame.

In [6]:
only_2_cols = df.iloc[:, 1:3]
only_2_cols.head(5)

  alpha_two_code                                   name
0             US                    Marywood University
1             US                  Lindenwood University
2             US                    Sullivan University
3             US  Florida State College at Jacksonville
4             US                      Xavier University

### Select and print the FIRST 4 rows of you data frame.

In [7]:
only_4_rows = df.iloc[:4]
only_4_rows.head(5)

,country,alpha_two_code,name,state-province,domains,web_pages
0,United States,US,Marywood University,None,[marywood.edu],[http://www.marywood.edu]
1,United States,US,Lindenwood University,None,[lindenwood.edu],[http://www.lindenwood.edu/]
2,United States,US,Sullivan University,None,[sullivan.edu],[https://sullivan.edu/]
3,United States,US,Florida State College at Jacksonville,None,[fscj.edu],[https://www.fscj.edu/]